.about {
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 20px 3px;
  position: relative;
  width: 100%;
  height: 90%;
  background-color: var(--color-folder-about);
  border-radius: 0 0 14px 14px;
  z-index: 1;
  overflow-y: scroll;
}

.logos img {
  width: 100px;
}

@media (max-width: 600px) {
  .about {
    flex: 1;
    height: 100%;
    border-radius: 14px 0 0 14px;
    order: 1;
  }
  
  .logos img {
    width: 30%;
  }
}