:root {
  color-scheme: light dark;
  --color-folder-home: light-dark(#F1D592, #F1D592);
  --color-folder-about: light-dark(#8FAF7E, #8FAF7E);
  --color-folder-projects: light-dark(#7E9BAF, #7E9BAF);
  --color-folder-contact: light-dark(#AF7E8F, #AF7E8F);
  --color-folder-body: light-dark(white, white);
  --color-photo-bg: light-dark(white, white);
  --color-text: light-dark(black, black);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow: hidden;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-page-bg);
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: var(--font-darumadrop-one);
  font-size: 3rem;
}

h2, h3 {
  font-family: var(--font-darumadrop-one);
}

span, p, a, textarea, label, button {
  font-family: var(--font-lexend);
  font-weight: 300;
}

textarea {
  resize: none;
}

.folder {
  width: 90%;
  max-width: 1000px;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 769px) {
  :root {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .folder {
    height: 85dvh;
  }
}

@media (max-width: 600px) {
  .folder {
    flex-direction: row;
    height: 90dvh;
  }

  h1 {
    font-size: 2.5rem;
  }
}